<footer class="bg-gray-800 p-6 text-center text-white">
	<p class="mb-2">Copyright &copy;
		{{ "now"|date("Y") }}
		Your Company</p>
	<p>1234 Street Name, City, State, Postal Code</p>
	<p>Email: info@yourcompany.com | Phone: (123) 456-7890</p>
</footer>
